:host {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 11 ;
  background-color: transparent ;
  transform: translateY(100vh);
}
.sub-div-draggable {
  background-color: green ;
  background-size: 100%;
  height: 1%;
  width: 28%;
  border-radius: 200px;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
z-index: 10;
top:5%;
text-align: center;
}
.div-draggable {
  background-size: 100%;
  height: 10%;
  width: 40%;
  border-radius: 200px;
    position: fixed;
  margin-left: 30%;
  z-index: 10;
padding-top:10%;
margin-top:2%;  
}
.sub-div-top{
  margin-top:10%;
  margin-left: 20%;
width: 60%;
position:absolute;
}
.sub-div-bottom{
  margin-top:10%;
  margin-left: 30%;
width: 60%;
opacity:0;
z-index: -10;
}
.titlelista{
  opacity: 0;

}
.list-container{
  max-height: 100%;
  overflow-y: auto;
 }